*{
   margin: 0;
   padding: 0;
}



.items-menu{
    display: inline;
    margin-left: 45px;
}

.list-menu{
    font-family: 'Bellota';
    font-size: 0.4em;
    text-align: right;
    background: rgb(230, 227, 217);
    padding: 20px;

}

