* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.main-content {
    margin: 10px;
    width: 200px;
    height: 200px;
    background-color: rgb(69, 131, 185);
    transition: width 2s, height 2s; 
}
.main-content:hover {
    width: 300px;
    height: 300px;
    background-color: rgb(110, 126, 141);
}
/* transition-delay */
.content2{
    margin: 10px;
    width: 200px;
    height: 100px;
    background-color: rgb(69, 185, 185);
    transition: width 2s;
}
.content2:hover {
    width: 300px;
}
/* Transition + Transform */
.content3 {
  margin: 10px;
  width: 200px;
  height: 100px;
  background: rgb(76, 155, 192);
  transition: width 2s, height 2s, transform 2s;
}
.content3:hover {
    width: 300px;
    height: 300px;
    transform: rotate(360deg);
}
/* transition Shorthand */
.content4 {
    margin: 10px;
    width: 200px;
    height: 100px;
    background: rgb(51, 172, 194);
    transition: width 2s linear 1s;
  }
  
  .content4:hover {
    width: 300px;
  }
/*  clip-path */
  .content5 {
    margin: 10px;
    width: 200px;
    height: 200px;
    background-color: rgb(75, 137, 153);
    transition: width 2s, height 2s; 
    clip-path: circle(50% at top left);
}
.content5:hover {
    margin: 10px;
    width: 400px;
    height: 400px;
    background-color: rgb(110, 126, 141);
    clip-path: circle(80% at center);
}